body {
  font-family: "rubik", sans-serif;
}
.container {
  max-width: 750px;
  max-height: 600px;
  border: 1px solid #5282b1;
  background: linear-gradient(
    -225deg,
    rgb(183, 248, 219) 0%,
    rgb(80, 167, 194) 100%
  );
  border-radius: 20px;
}

.searchbar {
  border: 1px solid;
  border-radius: 5px;
  line-height: 4px;
  padding: 8px;
}
#current-city-btn {
  position: relative;
  right: 20px;
  top: 1px;
}

.current-city {
  font-size: 35px;
  font-weight: 400;
}
.last-updated {
  font-size: 20px;
  opacity: 0.35;
}
.current-day {
  font-size: 20px;
  position: relative;
}

.conditions {
  font-size: 20px;
  opacity: 0.35;
  position: relative;
}
.current-temp {
  font-size: 60px;
  bottom: 30px;
}
#units {
  font-size: 12px;
  text-decoration: none;
  position: relative;
  bottom: 30px;
}

.main-emoji {
  position: relative;
  width: 100%;
  bottom: 20px;
  left: 10px;
  margin: 0;
}
.hi-low {
  position: relative;
  top: 30px;
  font-size: 18px;
}
.rain-wind {
  position: relative;
  top: 30px;
  font-size: 18px;
}
.forecast {
  font-size: 25px;
  position: relative;
  bottom: 35px;
}

.card {
  text-align: center;
  background-color: #b6f7db;
  border: 1px solid #5282b1;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  bottom: 25px;
}
.col-2 {
  width: 20%;
}
.forecast {
  padding-top: 20px;
}
.forecast-date {
  font-size: 20px;
}
.forecast-image {
  margin: 0 auto;
}
.forecast-temperatures {
  font-size: 13px;
}
.forecast-low {
  opacity: 0.6;
}
#open-src-link {
  text-align: center;
}
